*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #563131;
}

header {
    position: absolute;
    padding: 0.30rem 0;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 100;
}

header nav {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.85rem;
}

.search a {
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburger {
    padding-left: 1.5rem;
    position: relative;
}

.hamburger {
    padding: 0;
    display: flex;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    padding: 0;
    position: relative;
    width: 60%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before, .hamburger .bar::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 60%;
    height: 1.3px;
    background-color: inherit;
    border-radius: 2px;
    
}

.hamburger .bar::before {
    top: -5px;
}

.hamburger .bar::after {
    top: 5px;
}

.texto {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    color: #fff;
    font-family: "Poppins", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    align-items: center;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 80px;
}

h3 {
    margin-top: -15px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}


.chao {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 1;
}

.ceu {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 2;
}

.lua {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 3;
}

.montanhas {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 4;
}

.nave {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 5;
}

.luz {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 6;
}

